$primary-color: #fff;
$secondary-color: #000;
$variant-color: #0000008A;
$border: #D7DDE9;
$variant-border: #EAECF0;
$variant-color-button: #E7EEFB;
$gradient-blue-one: #0796D3;
$gradient-blue-two: #53C0F0;
$gradient-red-one: #D30707;
$gradient-red-two: #D30707;
$box-shadow: #1018280D;
$variant-box-shadow: #1018282E;

.global {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  font-family: 'Inter Tight', sans-serif;
}